:root {
    --font-Montserrat: "Montserrat";
    --font-Outfit: "Outfit";
    --font-Inter: "Inter";
    --font-SatoshiVariable: "SatoshiVariable";
    --font-SatoshiVariableItalic: "SatoshiVariableItalic";
}