:root {
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Outfit: "Outfit", sans-serif;
    --font-Inter: "Inter", sans-serif;
    --font-SatoshiVariable: "Satoshi Variable", sans-serif;
    --font-SatoshiVariableItalic: "Satoshi Variable", sans-serif;
}